<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Capture System.out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the root logger level to INFO -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Capture System.out messages -->
    <logger name="STDOUT" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- You can set specific logger levels here -->
    <!-- For example, to set Kafka to WARN level: -->
    <logger name="org.apache.kafka" level="WARN" />
</configuration> 